<p id="notice"><%= notice %></p>
<p>
<%= @word_list_parser.name %>
</p>
<p>
<%= @word_list_parser.result %>
</p>
<%= link_to 'Edit', edit_word_list_parser_path(@word_list_parser) %> |
<%= link_to 'Back', word_list_parsers_path %>
